<form action="<?= ROOT ?>register/ajax" method="post" role="post" class="form-horizontal">
  <input type="hidden" name="back" value="<?= _req('back') ?>">
  <div class="control-group">
    <label class="control-label" for="inputEmail">邮箱：</label>
    <div class="controls">
      <input type="email" name="email" id="inputEmail" placeholder="" value="<?= isset($email) ? $email : '' ?>" class="required email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">密码：</label>
    <div class="controls">
      <input type="password" name="password" id="inputPassword" placeholder="" class="required">
    </div>
  </div>
  <div class="control-group ">
    <div class="controls">
      <button type="submit" class="btn btn-primary">注册</button>
    </div>
  </div>
</form>
