<?php
!defined('IN_APP') && exit('ILLEGAL EXECUTION');
/**
 * @author  ryan <cumt.xiaochi@gmail.com>
 */
$siteConfig = $GLOBALS['config']['site'];
?>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><?= $siteConfig['name'] ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="<?= _css('bootstrap') ?>" rel="stylesheet">
    <link href="<?= _css('bootstrap-responsive') ?>" rel="stylesheet">
    <link href="<?= _css('style') ?>" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="container-narrow">

      <?php render_view('header'); ?>

      <hr>

      <div class="row-fluid">
        <?php render_view($GLOBALS['view'], $data); ?>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; So.Me 2012</p>
      </div>

    </div> <!-- /container -->

    <script src="<?= _js('jquery-1.8.3.min') ?>"></script>
    <script src="<?= _js('bootstrap') ?>"></script>

    <?php foreach ($GLOBALS['page']['scripts'] as $src): ?>
      <script type="text/javascript" src="<?= _js($src) ?>"></script>
    <?php endforeach ?>

    <?php $controller = $GLOBALS['controller']; ?>
    <?php if (file_exists(AppFile::js($controller))): ?>
      <script type="text/javascript" src="<?= _js($controller) ?>"></script>
    <?php endif ?>

  </body>
</html>
