<?php
/**
 * @author  ryan <cumt.xiaochi@gmail.com>
 */
$siteConfig = Service('config');
?>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><?= $siteConfig['name'] ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="<?= _css('style') ?>" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="container-narrow">

      <?php include __DIR__.'/header.html'; ?>

      <hr>

      <div class="row-fluid">
        <?php include $_inner_ ?>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; So.Me 2015</p>
      </div>

    </div> <!-- /container -->

    <script src="<?= _js('jquery-2.0.3') ?>"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="<?= _js('common') ?>"></script>

  </body>
</html>
